@import "../../../../assets/styles/color";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/fonts";

.certificates-section {
  background-color: $deep-teal;
  padding: 5rem 0;
}

.certificates-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.certificates-header {
  color: $pale-linen;
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.certificates-all-cards {
  flex: 1 1;
  justify-content: space-around;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: $pale-linen;
  padding: 15px;
}

.certificates-card {
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 41px;
  border-radius: 8px;
  background: $deep-teal;
}

.certificates-card img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.certificates-card h3 {
  width: 125px;
  height: 75px;
  color: $pale-linen;
  font-family: Source Serif Pro;

  font-size: map-get(map-get($font-sizes, desktop), body);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@include breakpoint-tablet {
  .certificates-all-cards {
    justify-content: space-around;
  }

  .certificates-card {
    display: flex;
    padding: 11px 15px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .certificates-card img {
    width: 75px;
    height: 75px;
  }
  .certificates-card h3 {
    font-size: map-get(map-get($font-sizes, tablet), body);
    height: 66px;
    text-align: center;
  }
}

@include breakpoint-mobile {
  .certificates-all-cards {
    justify-content: center;
  }

  .certificates-card {
    width: 100%;
    display: flex;
    padding: 11px 15px;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: row;
    padding: 5px;
  }

  .certificates-card img {
    width: 75px;
    height: 75px;
  }
  .certificates-card h3 {
    font-size: map-get(map-get($font-sizes, mobile), body);
    width: auto;
    height: auto;
    text-align: center;
  }
}
