@import "../../../assets/styles/color";
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/mixins";

.project-section {
  background-color: $dark;
  padding: 3rem 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-title-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: $pale-linen;
  h2 {
    font-size: map-get(map-get($font-sizes, desktop), h2);
  }

  p {
    font-size: map-get(map-get($font-sizes, desktop), subtext);
  }
}

.project-all-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  padding: 0rem 1rem 1rem 0;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  border-top: 1px solid $pale-linen;
  color: $pale-linen;
}

.project-card img {
  flex: 0 50%;
  max-width: 100%;
}

.project-card-header {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.project-card-title-header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  h2 {
    font-weight: 400;
    font-size: map-get(map-get($font-sizes, desktop), h3);
  }
}

.project-card-line {
  width: 30%;
  margin-left: 0;
}

.project-card-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;

  button {
    font-family: "Anonymous Pro", monospace;
    font-size: map-get(map-get($font-sizes, desktop), link);
    font-weight: 400;
    padding: 0.3rem;
    position: relative;
    cursor: pointer;
    color: black;
    z-index: 1;
    overflow: hidden;
    width: 8rem;

    &:after {
      content: "";
      background: $midnight-black;
      position: absolute;
      inset: 0;
      width: 100%;

      clip-path: circle(0% at 50% 50%);
      transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
      z-index: -1;
    }

    &:hover {
      &:after {
        clip-path: circle(100% at 50% 50%);
        transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 2s;
      }

      color: $deep-teal;
    }
  }
}

@include breakpoint-mobile {
  .project-section {
    padding: 1rem 0;
  }

  .project-title-header {
    h2 {
      font-size: map-get(map-get($font-sizes, mobile), h2);
    }
    p {
      font-size: map-get(map-get($font-sizes, mobile), subtext);
    }
  }

  .project-card-header {
    padding: 0.6rem;

    h2 {
      font-size: map-get(map-get($font-sizes, mobile), h3);
    }

    p {
      font-size: map-get(map-get($font-sizes, mobile), subtext);
    }
  }

  .project-container {
    gap: 2rem;
  }

  .project-card {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

@include breakpoint-tablet {
  .project-section {
    padding: 1rem 0;
  }

  .project-title-header {
    h2 {
      font-size: map-get(map-get($font-sizes, tablet), h2);
    }
    p {
      font-size: map-get(map-get($font-sizes, tablet), subtext);
    }
  }

  .project-container {
    gap: 2rem;
  }

  .project-card {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .project-card-header {
    padding: 0.6rem;

    h2 {
      font-size: map-get(map-get($font-sizes, tablet), h3);
    }

    p {
      font-size: map-get(map-get($font-sizes, tablet), subtext);
    }
  }
}

@include breakpoint-laptop {
  .project-card {
    grid-template-columns: 7fr 5fr;
  }
}
