@import "../../../../assets/styles/color";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/fonts";

.skills-section {
  background-color: $midnight-black;
  padding: 5rem 0;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.skills-header {
  font-size: map-get(map-get($font-sizes, desktop), h2);
  color: $pale-linen;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 0.5px solid $deep-teal;
  width: 100%;
}

.skills-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-self: start;
  gap: 0.5rem;

  a img {
    height: 2rem;
    border: 2px solid transparent;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
  }

  a img:hover {
    border: 2px solid $light-smoke;
    box-shadow: 0 0 20px #0ebac5;
  }
}

@include breakpoint-tablet {
  .skills-section {
    padding: 3rem 0;
  }

  .skills-header {
    font-size: map-get(map-get($font-sizes, tablet), h2);
  }
}

@include breakpoint-mobile {
  .skills-section {
    padding: 1rem 0;
  }

  .skills-header {
    font-size: map-get(map-get($font-sizes, mobile), h2);
  }
}
