@import "../../../../assets/styles/color";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";

.ee-container {
  margin: 50px 0;
}

.ee-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.ee-titles {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ee-title {
  flex: 1;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 2px;
  background: $steel-blue;
  flex-shrink: 0;
  color: $pale-linen;
  font-size: map-get(map-get($font-sizes, desktop), h2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ee-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ee-entry-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &.education {
    align-items: flex-end;
  }
}

.ee-entry-inner {
  display: flex;
  flex: 1;
  width: 50%;
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  &.ee-entry-inner-ex {
    border-right: 1px solid black;
  }

  &.ee-entry-inner-edu {
    border-left: 1px solid black;

    .ee-job-header {
      align-items: flex-start;
    }

    .ee-job-title,
    .ee-description,
    .ee-job-details {
      text-align: right;
    }
  }
}

.ee-job-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.ee-job-title {
  color: #000;
  font-size: map-get(map-get($font-sizes, desktop), h3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 100%;
}

.ee-job-details {
  color: #000;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  font-size: map-get(map-get($font-sizes, desktop), subtext);
  width: 100%;
}

.ee-description {
  color: $dark;
  font-size: map-get(map-get($font-sizes, desktop), subtext);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

.ee-hr {
  background-color: black;
  width: 30%;
  height: 1px;
}

.ee-title-separate {
  display: none;
}

@include breakpoint-tablet {
  .ee-container {
    margin: 2rem 0;
  }

  .ee-title {
    font-size: map-get(map-get($font-sizes, tablet), h2);
  }

  .ee-job-title {
    font-size: map-get(map-get($font-sizes, tablet), h3);
  }
  .ee-job-details {
    font-size: map-get(map-get($font-sizes, tablet), subtext);
  }

  .ee-description {
    font-size: map-get(map-get($font-sizes, tablet), subtext);
  }
}

@include breakpoint-mobile {
  .ee-container {
    margin: 1rem 0;
  }

  .ee-title {
    font-size: map-get(map-get($font-sizes, mobile), h2);
  }

  .ee-entry-inner {
    width: auto;
  }

  .ee-entry-inner.ee-entry-inner-ex,
  .ee-entry-inner.ee-entry-inner-edu {
    border: 0px;
  }

  .ee-entry-inner.ee-entry-inner-edu .ee-job-header {
    align-items: flex-start;
  }

  .ee-entry-inner.ee-entry-inner-edu .ee-job-title,
  .ee-entry-inner.ee-entry-inner-edu .ee-description,
  .ee-entry-inner.ee-entry-inner-edu .ee-job-details {
    text-align: left;
  }

  .ee-entry-outer {
    &.experience {
      order: -1;
    }

    &.education {
      order: 1;
    }
  }

  .ee-title-mobile {
    display: none;
  }

  .ee-job-title {
    font-size: map-get(map-get($font-sizes, mobile), h3);
    border-bottom: 0px;
  }

  .ee-entry-outer {
    padding: 10px;
    border-top: 1px solid #000;
  }

  .ee-job-details {
    font-size: map-get(map-get($font-sizes, mobile), subtext);
  }

  .ee-section {
    gap: 0;
  }

  .ee-title-seperate {
    display: flex;
  }

  .ee-details {
    gap: 0;
  }

  .ee-description {
    font-size: map-get(map-get($font-sizes, mobile), subtext);
  }

  .ee-hr {
    display: none;
  }
}
