@import "../../assets/styles/color";
.footer-section {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: $midnight-black;
}

.footer-container {
  display: flex;
  padding: 0.3rem 1rem;
  justify-content: center;
  gap: 1rem;
}

.footer-container a {
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.footer-container a:hover {
  transform: scale(1.3);
}
