@import "../../../../assets/styles/color";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/fonts";

.certificates-section {
  background-color: $midnight-black;
  padding: 3rem 0;
}

.certificates-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.certificates-header {
  color: $pale-linen;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: map-get(map-get($font-sizes, desktop), h2);
  border-bottom: 0.5px solid $deep-teal;
  width: 100%;
}

.certificates-items {
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.certificates-item a {
  padding: 0.5rem;
  background-color: $deep-teal;

  text-decoration: none;
  color: beige;
  box-shadow: inset 0 0 0 0 $midnight-black;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.certificates-item a:hover {
  border: 1px solid beige;
  color: $steel-blue;
  box-shadow: inset 400px 0 0 0 $midnight-black;
}

@include breakpoint-tablet {
  .certificates-section {
    padding: 3rem 0;
  }
}

@include breakpoint-mobile {
  .certificates-section {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 220px) {
}
