@import "../../assets/styles/color";
@import "../../assets/styles/mixins";

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: $midnight-black;

  &.nav-open {
    .burger {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

    .sideNavBar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      // position: absolute;
      left: 0;
      width: 100%;
      padding-left: 2rem;
      background: $midnight-black;

      a {
        color: $pale-linen;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;
      }
    }
  }
}

.burger-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 19px;

  .burger {
    width: 100%;
    height: 3px;
    background: $pale-linen;
    transition: transform 0.3s, opacity 0.3s;
  }

  &.active {
    .burger {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}

.header-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  color: $pale-linen;
  font-family: cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
}

.outerNav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  &.outer-nav-open {
    display: block;
  }
}

.navbar,
.icon-links {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 5px;
}

.bigger {
  display: flex;
  gap: 5px;
  a {
    color: #e3dfdc;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
  }
}

.navbar a,
.icon-links a {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: $pale-linen;
  text-decoration: none;
  font-weight: bold;
}

@include breakpoint-mobile {
  .name {
    font-size: 24px;
  }
}

@include breakpoint-mobile {
  .app-header.nav-open .sideNavBar {
    padding-left: 1rem;
  }
}

@include breakpoint-tablet {
  .app-header.nav-open .sideNavBar {
    max-width: 750px;
    // padding-left: 2rem;
  }
}

@include breakpoint-laptop {
  .app-header.nav-open .sideNavBar {
    max-width: 970px;
    padding-left: 3rem;
  }
}
