@import "../../../assets/styles/color";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/fonts";

.contact-page {
  padding: 5rem 0;
}

.contact-page-section {
  font-family: "Anonymous Pro", monospace;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-page-title {
  text-align: center;
}

.contact-container {
  display: flex;
}

.contact-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  p {
    font-size: 16px;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;

  li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    img {
      padding: 2px;
      transition: transform 0.3s ease-in-out;
    }

    img:hover {
      transform: scale(1.3);
    }

    h4 {
      font-weight: normal;
      font-size: 16px;
    }
  }
}

.contact-resume {
  display: flex;
  width: 40%;
  padding: 0.6rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: $deep-teal;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;

  &:after {
    content: "";
    background: $midnight-black;
    position: absolute;
    inset: 0;
    width: 100%;

    clip-path: circle(0% at 50% 50%);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
    z-index: -1;
  }

  &:hover {
    &:after {
      clip-path: circle(100% at 50% 50%);
      transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 2s;
    }
    background-color: $steel-blue;
  }

  h4 {
    color: $pale-linen;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: "Anonymous Pro", monospace;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

.contact-form {
  flex: 1;
  border: 1px solid;
  padding: 20px 0;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
}

.contact-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.contact-input-name,
.contact-input-email,
.contact-input-msg {
  display: flex;
  padding: 0px 10px;
  align-items: flex-start;
  gap: 56px;

  .contact-input {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    label {
      font-size: 18px;
    }

    input,
    textarea {
      border: 1px solid black;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      background-color: inherit;
    }

    textarea {
      border: 1px solid black;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      background-color: inherit;
      width: 100%;
    }
  }
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.2em;
}

.contact-input-msg {
  width: 100%;

  .contact-input {
    width: 100%;
  }
}

.contact-submit-btn {
  width: 60%;
  background-color: $deep-teal;
  color: $pale-linen;

  font-size: map-get(map-get($font-sizes, desktop), body);
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;

  cursor: pointer;
  padding: 0.5rem;
  border: none;

  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;

  &:after {
    content: "";
    background: $midnight-black;
    position: absolute;
    inset: 0;
    width: 100%;

    clip-path: circle(0% at 50% 50%);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
    z-index: -1;
  }

  &:hover {
    &:after {
      clip-path: circle(100% at 50% 50%);
      transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 2s;
    }

    color: $deep-teal;
  }
}

.submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

@include breakpoint-tablet {
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-form,
  .contact-about-me {
    max-width: 455px;
  }
}

@include breakpoint-mobile {
  .contact-input-wrapper {
    width: 100%;
  }
  .contact-container {
    flex-direction: column;
    gap: 20px;
  }

  .contact-form,
  .contact-about-me {
    max-width: 455px;
  }
  .contact-input-name,
  .contact-input-email {
    flex-direction: column;
  }
}
