@import "../../assets/styles/color";
@import "../../assets/styles/fonts";
@import "../../assets/styles/mixins";

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: $deep-teal;

  &.nav-open {
    .burger {
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-last-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

    .sideNavBar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      left: 0;
      width: 100%;
      padding-left: 2rem;
      background: $deep-teal;
      gap: 0.5rem;

      a {
        color: $pale-linen;
        text-decoration: none;
        padding: 5px;
        border: 1px solid transparent;
        transition: color 0.3s, border-bottom-color 0.3s;
      }
    }
  }
}

.app-header.nav-open .sideNavBar a:hover,
.sideNavBar a:hover {
  background-color: $midnight-black;
  color: $pale-linen;
}

.icon-links a:hover {
  transform: scale(1.3);
}
.burger-button:hover .burger {
  background-color: $midnight-black;
}

.app-header.nav-open .sideNavBar a.active,
.sideNavBar a.active {
  border-bottom: 1px solid $midnight-black;
  border-top: 1px solid $midnight-black;
  color: $slate-gray;
  font-weight: 600;
}

.burger-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 19px;

  .burger {
    width: 100%;
    height: 3px;
    background: $pale-linen;
    transition: transform 0.3s, opacity 0.3s;
  }

  &.active {
    .burger {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}

.header-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;

  a {
    text-decoration: none;
    color: $pale-linen;
    cursor: pointer;
  }
}

.outerNav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;

  &.outer-nav-open {
    display: block;
  }
}

.navbar,
.icon-links {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.bigger {
  display: none;
}

.navbar a,
.icon-links a {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: $pale-linen;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

@include breakpoint-mobile {
  .name {
    font-size: 24px;
  }
}

@include breakpoint-mobile {
  .header-frame {
    font-size: map-get(map-get($font-sizes, mobile), body);
  }

  .app-header.nav-open .sideNavBar {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .burger-button {
    display: flex;
  }
}

@include breakpoint-tablet {
  .header-frame {
    font-weight: 400;
    font-size: map-get(map-get($font-sizes, tablet), body);
  }

  .app-header.nav-open .sideNavBar {
    max-width: 750px;
    padding-bottom: 1rem;
  }

  .burger-button {
    display: flex;
  }
}

@include breakpoint-laptop {
  .header-frame {
    font-size: map-get(map-get($font-sizes, desktop), body);
  }

  .app-header.nav-open .sideNavBar {
    max-width: 970px;
    padding-left: 3rem;
  }

  .sideNavBar {
    display: flex;
    gap: 5px;
    a {
      color: #e3dfdc;
      text-decoration: none;

      padding: 5px;
    }
  }
}

@include breakpoint-desktop {
  .header-frame {
    font-size: map-get(map-get($font-sizes, desktop), body);
  }

  .sideNavBar {
    display: flex;
    gap: 5px;
    a {
      color: #e3dfdc;
      text-decoration: none;

      padding: 5px;
    }
  }
}
