$slate-gray: #957c65; // A warm gray with a hint of brown
$deep-teal: #376066; // A rich, dark teal color
$midnight-black: #0f171a; // A deep, almost-black shade
$steel-blue: #558088; // A muted blue-gray color reminiscent of steel
$light-smoke: #a6a69e; // A pale, cool gray with a touch of lavender
$pale-linen: #e3dfdc; // A soft and light linen-like shade
