$font-sizes: (
  mobile: (
    h1: 26px,
    h2: 22px,
    h3: 18px,
    body: 14px,
    subtext: 14px,
    link: 16px,
    button: 16px,
  ),
  tablet: (
    h1: 30px,
    h2: 26px,
    h3: 22px,
    body: 16px,
    subtext: 16px,
    link: 16px,
    button: 18px,
  ),
  desktop: (
    h1: 34px,
    h2: 30px,
    h3: 26px,
    body: 18px,
    subtext: 18px,
    link: 16px,
    button: 20px,
  ),
);
